@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  @apply bg-gradient-to-r from-zinc-900 min-h-full;
}

.ProseMirror .isNodeEmpty:last-child::before {
  color: #7d7d7d;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: normal;
}

.ProseMirror h1.isNodeEmpty:first-child::before {
  color: #7d7d7d;
  content: "Untitled";
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: normal;
}

.ProseMirror img {
  width: 100%;
  border-radius: 0.3125rem;
  margin: 1rem auto;
}
